@font-face {
  font-family: roboto;
  src: url(C:\Users\mcj22\OneDrive\Desktop\Work\font\Roboto-LightItalic.ttf)
}


html {
  max-width: 720px;
}

body {
  margin: 32px;
  background: #fff;
  font-family: roboto;
}

main,
header,
footer,
nav {
  margin: 32px;
}

section {
  padding: 16px;
}
