:root {
    --space-s: 8px;
    --space-m: 12px;
    --space-xm: 16px;
    --space-l: 24px;
    --space-b: 36px;


    --size-s: 14px;
    --size-d: 16px;
    --size-l: 20px;
    --size-b: 24px;


    --color-border: #dee2e6;
    --color-primary: rgb(49, 49, 236);
    --color-white: #fff;
    --border-radius-d: 12px;
    --border-radius-s: 4px;
    --color-title: #212529;
    --color-text: #343a40;

    --weight_title: 500;
    --weight_text: 400;
}




/* ================== */

.page {
    background: var(--color-white);
    padding: 0 15px;
    display: flex;
    justify-content: center;
}

.page_content {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;

    display: flex;
    flex-direction: column;

    gap: 80px;
}

/* =================== */


.header {
padding: var(--space-l) 0;
border-bottom: 1px solid var(--color-border);

display: flex;
justify-content: space-between;
}

.logo {
    font-size: 17px;
    color: var(--color-white);
    background: var(--color-primary);

    width: 24px;
    height: 24px;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
}


.nav {
    display: flex;

}

.nav_inline {
    gap: var(--space-l);
}

.nav_vertical {
    gap: var(--space-xm);
    flex-direction: column;
}

.nav_link {
    color: #FFFFfF;
    font-size: 16px;
    text-decoration: none;
    line-height: 100%;
}

.nav_link:hover {
    text-decoration: underline;
    color: var(--color-primary);
}


.footer {
    padding: var(--space-l) 0;
    border-top: 1px solid var(--color-border);

    display: flex;
    justify-content: space-between;
}

.footer_copyright {
    font-size: var(--size-s);
    color: var(--color-text); 

    display: block;
    margin-top: var(--space-l);
}

.footer_title {
    font-size: var(--size-l);
    color: var(--color-title);

    display: block;
    margin-bottom: var(--space-l);
}

.main {
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 40px;
    
}

.info {
    max-width: 620px;
    width: 100%;
    background-color: #ffff;
  
    padding: 24px;

    display: flex;
    flex-direction: column;
    gap: 24px;
}



.info_title {
    color: #212529;
    font-size: 56px;
    font-weight: 600px;

    padding-bottom: 24px;;
}


.info_description {
    color: #212529;
    font-size: 20px;
    font-weight: 500px;
} 




.form {
    max-width: 300px;
     width: 100%;
    background-color: #F8F9FA;
    border-radius: 4px;
    box-shadow: 0px 4px 15px  rgba(0, 0, 0, 0.17);

    padding: 60px;
    gap: 20px;

    display: flex;
    flex-direction: column;

}


.form_inputs_list {
    display: flex;
    gap: 6px;
    flex-direction: column;
}


.form_inputs {
    border: 1px solid #CED4DA;
    border-radius: 4px;
    padding: 15px;
    padding: 12px;
}


.form_inputs::placeholder {
    font-size: 14px;
    color:#212529;
    
}


.form_checkbox {
    display: flex;
    align-items: center;
    gap: 10px;

}


.form_checkbox > input {
    display: none;
}


.form_checkbox > input ~ div {
    border: 1px solid #767676;
    border-radius: 2.5px;
    height: 10px;
    width: 10px;
}


.form_ckeckbox > input:checked ~ div {
    border-color:#212529;
    background-color: rgb(49, 49, 236);
}


.form_checkbox > label {
    color: #212529;
    font-size: 14px;
    cursor: pointer;
}

.form_button {
    text-align: center;
    color: #FFFFFF;
    background-color: #0D6EFD;
    padding: 12px;
    border-radius: 4px;
    transition: opacity 0.7s;
}


.form_button:hover {
    opacity: 0.7;
}

.form_button:active {
    opacity: 0.3;
}

.divider {
    border-bottom: 1px solid #CED4DA;
    padding-bottom: 20px;
}


.form_info {
    color: #6C757D;
    font-size: 14px;
    font-weight: 500px;

    text-align: center;
}


.updates {
    display: grid;
    padding: 24px;
    gap: 24px;
    width: 100%;
    flex-direction: column;

}


.updates_title {
    color: #212529;
    font-size: 24px;
    font-weight: 600px;
    padding-bottom: 12px;
    border-bottom: 1px solid #d3dee9;
    
}

.updates_list {
    align-items: flex-start;
   
}




.square {
    width: 32px;
    height: 32px;
    background-color: pink;
  }
  
  .blue {
    background-color: blue;
  }
  
  .violet {
    background-color: violet;
  }

.list_nickname {
    color: #6C757D;
    font-size: 12.8px;
    font-weight: 500px;
    gap: 12px;

    padding-bottom: 12px;
    
}


.list_desctiption {
    color: #6C757D;
    font-size: 16px;
   
    padding-bottom: 12px;
    border-bottom: 1px solid #d3dee9;
}









.show_all_link {
    color: #007BFF;
    font-size: 14px;
    align-self: flex-start;
    text-decoration: none;
    transition-duration: 0.7s;
    transition-property: opacity, border-color;
    border-bottom: 1px solid transparent;
}


.show_all_link:hover {
    opacity: 0.7;
    border-color: #007BFF;
}


.shadow_line {
    box-shadow: 0px 4px 17px  rgba(0, 0, 0, 0.1);
    padding: 12px;
}



.card_expirience {
    box-shadow: 0px 4px 17px  rgba(0, 0, 0, 0.1);
    padding: 28px;
    gap: 24px;

    background-color: #F8F9FA;

   
    

}



.expirience_title {
    color: #212529;
    font-size: 42px;
    font-weight: 600px;
}



.badge_hot {
    background-color: #FF7347;
    color: #FFFFFF;
    height: 120px;
    width: 160px;
    border-radius: 70px;
    font-size: 24px;
    align-self: center;
    

}

.list {
    display: flex;
    gap: 24px;
}


.list > div {
    display: flex;
    flex-direction: column;
    background-color: #212529;
    border: 1px solid #212529;
    border-radius: 12px;
    padding: 16px;
    gap: 8px;
}

.card_list_name {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500px;
    
 
}


.card_list_details {
    color: #B1B1B1;
    font-size: 16px;
    font-weight: 400px;
}

/* 
.list > div:nth-of-type(2) {
    flex-grow: 1;
    width: 100%;
} */