:root {


    --weight_title: 500;
    --weight_title: 400;
}




/* ================== */

.page {
    background: #fff;
    padding: 0 15px;
    display: flex;
    justify-content: center;
}

.page_content {
    max-width: 960px;
    margin: 0 auto;
    width: 100%;

    display: flex;
    flex-direction: column;

    gap: 80px;
}

/* =================== */


.header {
padding: 24px 0;
border-bottom: 1px solid #dee2e6;

display: flex;
justify-content: space-between;
}

.logo {
    font-size: 17px;
    color: #fff;
    background: rgb(49, 49, 236);

    width: 24px;
    height: 24px;
    border-radius: calc(12px / 2);

    display: flex;
    justify-content: center;
    align-items: center;
}


.nav {
    display: flex;

}

.nav_inline {
    gap: 24px;
}

.nav_vertical {
    gap: 16px;
    flex-direction: column;
}

.nav_link {
    color: #343a40;
    font-size: 16px;
    text-decoration: none;
    line-height: 100%;
}

.nav_link:hover {
    text-decoration: underline;
    color: rgb(49, 49, 236);
}


.footer {
    padding: 24px 0;
    border-top: 1px solid #dee2e6;

    display: flex;
    justify-content: space-between;
}

.footer_copyright {
    font-size: 14px;
    color: #343a40; 

    display: block;
    margin-top: 20px;
}

.footer_title {
    font-size: 16px;
    color:  #212529;

    display: block;
    margin-bottom: 24px;
}

.main {
    display: flex;
    align-items: center;
    gap: 80px;
}

.main_image {
    width: 500px;
    height: 500px;
    border-radius: 12px;
}

.main_heading {
    font-size: 36px;
    font-weight: 500px;
    color: #5A5A5A;
    line-height: 120%;

}

.main_description {
    font-size: 16px;
    font-weight: 400px;
    line-height: 170%;
    color: #5A5A5A;
}


.main_content {
    display: flex;
    flex-direction: column;
    gap: calc(24px / 2 );
    
}


.button {
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    padding: 12px 16px;
    border-radius: 4px;
   
}


.main_button {
    color: #fff;
    background-color: #6C757D;

    padding: 12px 16px;
    display: inline-block;
    text-decoration: none;
}


.button:hover {
    opacity: 0.7;
}

.featured {
    display: flex;
    gap: 26px;

    padding: 40px;
    border-bottom: 1px solid #dee2e6;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;

   
}

.card_photo {
    height: 64px;
    width: 64px;
    border-radius: 4px;
}

.card_heading {
    font-size: 31;
    color: #212529;
    font-weight: 500px;
}

.card_info {
    color: #212529;
    font-size: 16px;
    font-weight: 400px;
}

.card_link {
    display: inline-block;
    color: #0D6EFD;
    font-size: 16px;
    font-weight: 400px;
}

.card_link:hover {
    color: rgb(153, 13, 129);
    opacity: 0.5;
}

.actions {
    display: flex;
    justify-content: space-around;
    justify-items: center;

}


.actions_content {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.actions_heading {
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 500px;
}

.actions_button {
    color: #212529;
    background-color: #FFFFFF;
    border-radius: 6px;
    text-decoration: none;

    display: inline-block;
    padding: 16px calc(160px / 2);

}

.card_actions {
    
    background-color: #563D7C;
    border-radius: 8px;
    padding: 24px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}