@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



:root {
    --space-s: 8px;
    --space-m: 12px;
    --space-xm: 16px;
    --space-l: 24px;
    --space-b: 36px;


    --size-s: 14px;
    --size-d: 16px;
    --size-l: 20px;
    --size-b: 24px;


    --color-border: #dee2e6;
    --color-primary: rgb(49, 49, 236);
    --color-white: #fff;
    --border-radius-d: 12px;
    --border-radius-s: 4px;
    --color-title: #ffff;
    --color-text: #9CA3AF;

    --weight_title: 500;
    --weight_text: 400;

/* ================== */
}
body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* ================== */

.page {
    background: #111827;
    padding: 0 15px;
    display: flex;
    justify-content: center;
}

.page_content {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;

    display: flex;
    flex-direction: column;

    gap: 80px;
}

/* =================== */

.page_block {
    padding: 12px;
}


.header_logo {
    font-size: 14px;
    color: #FFFFFF;
    background: #885FFB;

    width: 40px;
    height: 24px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    
    align-items: center;
    
}




.header_brandName {
padding: 12px 0;
border-top: 1px solid #272B30;

display: flex;
justify-content: space-between;
}


.logo-ad {
    color: #885FFB;
    font-size: 14px bold;
    padding: 6px;
    background-color: #4f3692;
    width: 20px;
    height: 15px;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.ad {

    
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.user_online {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    color:#FFFFFF;
    font-size: 14px;
   
}



.ad_text {
    display: flex;
 
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 12px;
    text-decoration: none;
    transition: opacity 0.7s;
    font-weight: 400;
    line-height: 100%;
}

.ad_text:hover {
    text-decoration: underline;
    color: var(--color-primary);
    opacity: 0.7;
}

/* .nav {
    display: flex;
}

.nav_inline {
    gap: 24px;
} */

.header_nav {
    display: flex;
    justify-content: space-between;
}



.nav_links {
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
    line-height: 100%;

    transition: opacity 0.7s;
    

}

.nav_links:hover {
    text-decoration: underline;
    color: var(--color-primary);
    opacity: 0.7;
} 


   .nav_links:not(:last-child) {
        margin-right: 24px;
    
    }


    .header_nav_right {
        margin-left: auto;
        width: fit-content;
    }



.page_block:not(:last-of-type) {
    margin-bottom: 60px;
}


.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    height: 300px;
    max-width: 1000px;
    width: 100%;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);


    border-radius: 24px;
    padding: 32px;
   
    background-image: radial-gradient(632.95% 141.42% at 100% 100%,
    rgba(17, 24, 39, 0.00) 0%,
    rgba(78, 63, 146, 0.60) 100%);
    background-size: 400%;
    animation: bg-animation 5s infinite alternate;
}


@keyframes bg-animation {
    0% {
        background-position: left;
    }
    50% {
        background-position: right;
    }
    
}


.hero_title {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--color-title);
    font-size: 36px;
    font-weight: 600px;

    gap:20px;
}


.hero_description {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--color-text);
    font-size: 16px;
    font-weight: 500px;
    padding-bottom: 20px;

}

.hero_button  {
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 150px;
    padding: 12px 119px;

    gap: 12px;

    border-radius: 10px;
    background: #885FFB;
  

    transition: opacity 0.7s;
  
}


.button_text {

    color: var(--color-white);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    text-decoration: none;
}



.button_text:hover {
    opacity: 0.7;
    text-decoration: underline;
    color:rgb(89, 55, 86)
}


.button_text:active {
    opacity: 0.3;
}

.about {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    max-width: 1000px;
}


.card_about {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    border-radius: 24px;

    background: rgba(42, 49, 65, 0.44);
    backdrop-filter: blur(25px);

    padding: 32px;
    gap: 16px;
    width: 100%;
}


.about_heading {
    width: 600px;

    color: var(--color-title);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}



.about_info {
    

    color: var(--color-text, #9CA3AF);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;

}


.title_articles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  
    
}

.main_title {
    display: flex;
    justify-content: center;
    justify-items: flex-start;
    color: var(--color-title);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;

}


.main_button {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 10px;
    border: 1px solid var(--color-text);
    background-color: transparent;
    color: var(--color-title);
    font-size: 16px;

    transition: opacity 0.7s;

}


.main_button:hover {
    text-decoration: underline;
    color: blue;
    opacity: 0.7;
}

.main_button:active {
    opacity: 0.3;
}

.articles_list {
    display: flex;
    justify-content: space-between;
}


.card_articles {
    display: flex;
    flex-direction: column;
   
    gap: 32px;
    width: 30%;

    

}

    .img_block {
    position: relative;
    }


    .badge_new {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: #fff;
    background-color: #e55d3381;
    border-radius: 4px;
    padding: 10px 12px;

    }


.card_img {
    max-height: 200px;
    flex-shrink: 0;
    border-radius: 24px;
    position: central;
    padding: 24px, 19px;

}

.card_name {
    display: flex;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
   
}



.cards_description {
    color: var(--color-text);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
   
}



.cards_button {
    background-color: #885FFB;
    color: #fff;
 
    
    font-size: 14px;
    border-radius: 10px;

    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 50px;
    text-decoration: none;

    transition: opacity 0.7s;
}

.cards_button:hover {

    text-decoration: underline;
    color: blue;
    opacity: 0.7;
}

.cards_button:active {
    opacity: 0.3;
}




.footer {
    display: flex;
    padding: 12px 0;
    border-top: 1px solid #272B30;
    
    justify-content: space-between;
   
   
    

}

.footer_copyright {
color: #9CA3AF;
font-size: 16px;
padding-top: 16px;

}


.footer_pages {
   display: inline;
   

}


.footer_pages:not(:first-child) {
    margin-left: 16px;
}


.footer_name {
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
    line-height: 100%;
    display: flex;
    

    
}


.footer_name:hover {
    text-decoration: underline;
    color: var(--color-primary);
    opacity: 0.7;
}



  






